// INITIALISATION
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Space Mono', monospace;
	font-size: 24px;
}

$strong-cyan: hsl(172, 67%, 45%);
$very-dark-cyan: hsl(183, 100%, 15%);
$dark-grayish-cyan: hsl(186, 14%, 43%);
$grayish-cyan: hsl(184, 14%, 56%);
$light-grayish-cyan: hsl(185, 41%, 84%);
$very-light-grayish-cyan: hsl(189, 41%, 97%);
$white: hsl(0, 0%, 100%);

// container
.container {
	background-color: $light-grayish-cyan;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

// <div class='container'>
//
// <div id='main-text-container'>
// 			<p>SPLITTER</p>
// 		</div>
// 				<MainBodyBill />
// 			</div>

// main-text-container
#main-text-container {
	width: 4.5rem;
	overflow-wrap: break-word;
	text-align: center;
	margin-bottom: 3rem;
	p,
	.flex-item {
		letter-spacing: 0.35rem;
		text-indent: 0.35em;
		color: $very-dark-cyan;
	}
}

#main-bill-container {
	background-color: $white;
	display: flex;
	flex-direction: row;
	gap: 2rem;
	justify-content: center;
	align-items: center;
	border-radius: 0.6rem;
	padding: 1rem;
	width: 100%;
	max-width: 1440px;
	.input-container {
		background-color: $very-light-grayish-cyan;
		padding: 0.5rem;
		border-radius: 0.3rem;
		span {
			color: $grayish-cyan;
		}
		input {
			background-color: $very-light-grayish-cyan;
			font-size: 0.9rem;
			width: 95%;
			color: $very-dark-cyan;
		}
	}
	input[type='text'] {
		border: none;
		text-align: right;
		background-color: $very-light-grayish-cyan;
	}
	input:focus {
		outline: none;
	}
	.left-container {
		width: 50%;
		display: flex;
		flex-direction: column;
		gap: 1rem;
		p {
			color: $very-dark-cyan;
			font-size: 0.75rem;
		}

		#tip-container {
			p {
				margin-bottom: 0.5rem;
			}
			.tip-buttons-container {
				display: flex;
				gap: 0.5rem;
				width: 100%;
				flex-wrap: wrap;
				input[type='button'],
				input[type='text'] {
					width: calc((100% / 3) - 8px);
					background-color: $very-dark-cyan;
					color: $white;
					border: none;
					border-radius: 0.2rem;
					padding: 0.3rem 0.4rem;
					font-size: 0.6rem;
				}
				input[type='text'][value='Custom'] {
					background-color: $very-light-grayish-cyan;
					color: $dark-grayish-cyan;
					text-align: center;
				}
				input[type='button']:hover {
					background-color: $strong-cyan;
					cursor: pointer;
				}
			}
		}
		#tip-buttons-container {
		}
		#pax-container {
		}
	}
	.right-container {
		background-color: $very-dark-cyan;
		border-radius: 0.75rem;
		padding: 1rem;
		width: 50%;
		height: 100%;
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
		p {
			color: $white;
			font-size: 0.8rem;
			flex-direction: column;

			span {
				color: $grayish-cyan;
				font-size: 0.5rem;
			}
			display: flex;
		}
		h2 {
			color: $strong-cyan;
			font-size: 1.5rem;
		}
		.tip-amount {
			display: flex;
			justify-content: space-between;
		}
		.total-amount {
			display: flex;
			justify-content: space-between;
		}
		.reset-button {
			margin-top: auto;
		}
		input[type='button'] {
			background-color: $strong-cyan;
			border: none;
			border-radius: 0.2rem;
			width: 100%;
			padding: 0.3rem 0;
			font-size: 0.75rem;
			color: $very-dark-cyan;
		}
		input[type='button']:hover {
			cursor: pointer;
			background-color: $light-grayish-cyan;
		}
	}
}

// MAIN-BODY
// #main-body {
// 	background-color: $light-grayish-cyan;
// 	display: flex;
// 	min-height: 100vh;
// 	height: 100vh;
// 	justify-content: center;
// 	align-items: center;
// 	#main-body-text {
// 		color: $dark-grayish-cyan;
// 		word-wrap: break-word;
// 		letter-spacing: 0.3rem;
// 		font-size: 24px;
// 		text-align: center;
// 		width: 80px;
// 	}
// }
