/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

$mobile-width: 375px;
$desktop-width: 1440px;
$white: hsl(0, 0%, 100%);
$light-gray: hsl(212, 45%, 89%);
$grayish-blue: hsl(220, 15%, 55%);
$dark-blue: hsl(218, 44%, 22%);
$font-size: 15px;
$weight1: 400;
$weight2: 700;

:root {
	background-color: hsl(212, 45%, 89%);
	font-family: Outfit;
}
body {
	height: 100vh;
	display: flex;
	justify-content: center;
	//have to have height and width first before content can be centered using widths and height.
	align-items: center;
	.card-container {
		height: 37%;
		border-radius: 1.5rem;
		background-color: $white;
		.qr-section {
			display: flex;
			justify-content: center;
			padding: 1rem 1rem 33px 1rem;
			img {
				border-radius: 1rem;
				max-width: 100%;
				max-height: 100%;
			}
		}
	}
	.words-section {
		display: flex;
		flex-direction: column;
		font-size: 15px;
		// justify-content: center;
		text-align: center;
		margin-bottom: auto;
		h1 {
			padding: 0 48px;
			font-weight: $weight2;
			padding-bottom: 1rem;
			font-size: x-large;
			color: $dark-blue;
		}
		p {
			font-weight: $weight1;
			padding: 0 55px;
			color: $grayish-blue;
		}
	}
}

.attribution {
	font-size: 11px;
	text-align: center;
	a {
		color: hsl(228, 45%, 44%);
	}
}

@media (max-width: $desktop-width) {
	.card-container {
		width: 370px;
		max-width: fit-content;
	}
}

@media (max-width: $mobile-width) {
	body {
		.card-container {
			width: 350px;
			height: 520px;
			.img {
				max-width: 30vw;
			}
		}
		.words-section {
			h1 {
				padding: 0rem 1.5rem 1rem 1.5rem;
			}
		}
	}
}
